@import "tailwindcss";

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root {
    color: white;
    user-select: none;
}

.expandable {
    transform: scaleY(0.1);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    height: auto;
    overflow: hidden;
}

.expandable:hover {
    transform: scaleY(1);
}
